<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>用户注册</title>
<link rel="stylesheet" href="style/base.css" type="text/css">
<link rel="stylesheet" href="style/global.css" type="text/css">
<link rel="stylesheet" href="style/header.css" type="text/css">
<link rel="stylesheet" href="style/login.css" type="text/css">
<link rel="stylesheet" href="style/footer.css" type="text/css">
<!-- <link rel="shortcut icon" href="#" /> -->
</head>
<body>
	<!-- 顶部导航 start -->
	<div class="topnav">
		<div class="topnav_bd w990 bc">
			<div class="topnav_left"></div>
			<div class="topnav_right fr">
				<ul>
					<li>您好，欢迎来到京西！[<a href="login">登录</a>] [<a href="doRegister">免费注册</a>]
					</li>
					<li class="line">|</li>
					<li>我的订单</li>
					<li class="line">|</li>
					<li>客户服务</li>

				</ul>
			</div>
		</div>
	</div>
	<!-- 顶部导航 end -->

	<div style="clear: both;"></div>

	<!-- 页面头部 start -->
	<div class="header w990 bc mt15">
		<div class="logo w990">
			<h2 class="fl">
				<a href="doIndexUI"><img src="images/logo.png" alt="京西商城"></a>
			</h2>
		</div>
	</div>
	<!-- 页面头部 end -->

	<!-- 登录主体部分start -->
	<div class="login w990 bc mt10 regist">
		<div class="login_hd">
			<h2>用户注册</h2>
			<b></b>
		</div>
		<div class="login_bd">
			<div class="login_form fl">
				<form method="post">
					<ul>
						<li><label for="">用户名：</label> <input id="username"
							type="text" class="txt" name="username" />
							<p>3-20位字符，可由中文、字母、数字和下划线组成</p></li>
						<li><label for="">密码：</label> <input id="pa1" type="password"
							class="txt" name="password" />
							<p>6-20位字符，可使用字母、数字和符号的组合，不建议使用纯数字、纯字母、纯符号</p></li>
						<li><label for="">确认密码：</label> <input id="pa2"
							type="password" class="txt" name="password1" />
							<p>
								<span>请再次输入密码 
							</p></li>
						<li class="checkcode"><label for="">验证码：</label> <input
							type="text" name="checkcode" id="sume" /> <img
							src="images/checkcode1.jpg" alt="验证码" id="unique" /> <span>
								看不清？ <a href="javascript:void(0)" id="change">换一张</a>
						</span></li>
						<li><label for="">&nbsp;</label> <input type="checkbox"
							class="chb" checked="checked" /> 我已阅读并同意《用户注册协议》</li>
						<li><label for="">&nbsp;</label> <input type="button"
							value="" class="login_btn" /></li>
					</ul>
				</form>
			</div>
			<div class="mobile fl">
				<h3>手机快速注册</h3>
				<p>
					中国大陆手机用户，编辑短信 “<strong>XX</strong>”发送到：
				</p>
				<p>
					<strong>1069099988</strong>
				</p>
			</div>

		</div>
	</div>
	<!-- 登录主体部分end -->

	<div style="clear: both;"></div>
	<!-- 底部版权 start -->
	<div class="footer w1210 bc mt15">
		<p class="links">
			<a href="">关于我们</a> | <a href="">联系我们</a> | <a href="">人才招聘</a> | <a
				href="">商家入驻</a> | <a href="">千寻网</a> | <a href="">奢侈品网</a> | <a
				href="">广告服务</a> | <a href="">移动终端</a> | <a href="">友情链接</a> | <a
				href="">销售联盟</a> | <a href="">京西论坛</a>
		</p>
		<p class="copyright">© 2008-2019 mall网上商城 版权所有，并保留所有权利。
			ICP备案证书号:京ICP证070359号</p>
		<p class="auth">
			<a href=""><img src="images/xin.png" alt="" /></a> <a href=""><img
				src="images/kexin.jpg" alt="" /></a> <a href=""><img
				src="images/police.jpg" alt="" /></a> <a href=""><img
				src="images/beian.gif" alt="" /></a>
		</p>
	</div>
	<!-- 底部版权 end -->
	<!-- /.modal -->
	<!-- ./wrapper -->
	<!-- REQUIRED JS SCRIPTS -->
	<!-- jQuery 3 -->
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript">
	$(function () {
		$(".login_btn").click(saveUser);
		$("form")
		.on("blur","#username",doJudge)
		.on("blur","#pa2",doJudge1)	
		/* .on("blur","#sume",doJudge2); */
		$("#change").click(changeImage);
	});
	function doJudge(){
		var params={"username":$("#username").val()}
		var username=$("#username").val();
		var url  = "user/doJudge";
		$.getJSON(url,params,doHandleResult);
	}
	function doHandleResult(result){
		if(result.state!=1){
			alert(result.message);
		}
	}
	function doJudge1(){
		var password1=$("#pa1").val();
		var password2=$("#pa2").val();
		if(password1!=password2){
			alert("两次输入密码不一致！");
			$("#pa1").val()="";
			$("#pa2").val()="";
		};
	}
	var styleArr=["images/checkcode1.jpg","images/checkcode2.jpg"];
	var i=0;
	function changeImage(){
		if(i==0){
			i=1;
		var image = document.getElementById("unique");
		image.src=styleArr[i];
		}else{
			i=0;
			var image = document.getElementById("unique");
			image.src=styleArr[i];
		}
	}
	function doJudge2(){
		var verc=$("#sume").val();
		if(i==0&&verc!="5ACY"){
			alert("验证码输入不正确！");
		}else if(i==1&&verc!="3EHM"){
			alert("验证码输入不正确！");
		}
		return;
	}
	function saveUser(){
		var verc=$("#sume").val();
		if(i==0&&verc!="5ACY"){
			alert("验证码输入不正确！");
		}else if(i==1&&verc!="3EHM"){
			alert("验证码输入不正确！");
		}else{
			var url="user/doSaveUser";
			var params={
				 username:$("#username").val(),
				 password:$("#pa1").val(),
			  };
		 //$.post(url,params);
		 //$.post("doSaveUser");
		 $.post(url,params,function(result){
			if(result.state==1){
				alert(result.message);
				location.href="login?t="+Math.random();
			}else{
				alert(result.message);
			}
			return false;//防止刷新时重复提交
		});
	}
	}
	
	</script>
</body>
</html>