<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.sys.dao.SysCommodityDao">
  	<select id="findIDByKey" resultType="int">
  			select id from sys_commodity where key1 like concat("%",#{key},"%") or key2 like concat("%",#{key},"%")
	</select>
</mapper>